<input type="text" placeholder="Ingrese su Nick" [(ngModel)]="usrName" />
<br>
<input type="password" placeholder="Ingrese su contraseña" [(ngModel)]="usrPass" />
<br>
<button type="button" (click)="login()" class="btn btn-primary">Ingresar</button>
<button type="button" (click)="loginWithGoogle()" class="btn btn-primary">
    Ingresar con Google
</button><br/>
<button type="button" (click)="fillInputs()" class="btn btn-primary">Llenar Inputs</button>
<br/>
<br/>
<button type="button" (click)="volverHome()" class="btn btn-primary">Volver al home</button>